/* global */
:root {
  box-sizing: border-box;
  padding: 0;
  width: 60vw;
  background-color: rgb(255, 250, 186);
  letter-spacing: -1px;
  font-family: "Times New Roman", Times, serif;
  --red: rgb(200, 20, 20);
  --black: rgb(25, 25, 25);
}

ul {
  list-style: none;
  padding: 5px;
}

a,
a:visited {
  color: var(--red);
}

header {
  display: grid;
  grid-template-columns: auto 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: repeat 6, auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 100vw;
}

/* header */
.title {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 35px;
  font-weight: 100;
  margin: 0;
}
.name {
  grid-area: 2 / 1 / 5 / 2;
  writing-mode: vertical-lr;
  font-size: 35px;
  color: var(--red);
  margin-left: 2px;
  border-left: solid 8px var(--red);
  padding: 1px;
  margin: 0;
  height: 300px;
}
.real {
  grid-area: 5 / 1 / 8 / 4;
  border-top: solid 2px var(--red);
}

header ul li a img {
  width: 80px;
  height: 80px;
}

.cvmini {
  grid-area: 5 / 4 / 6 / 5;
  text-align: start;
  border-top: solid 2px var(--red);
  margin-left: -10px;
  width: 25vw;
}
.whoami {
  grid-area: 2 / 3 / 3 / 6;
}

.whoami ul {
  border-left: solid 2px var(--red);
}

.whoami ul li {
  margin: 10px;
  color: var(--black);
  width: 35vw;
}

.circleh {
  grid-area: 2 / 2 / 5 / 4;
  max-width: 20vw;
  max-height: 20vh;
}
.nav {
  grid-area: 1 / 3 / 2 / 7;
}

.nav ul,
.nav ul li,
nav ul li a {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

/* fin header */
/* typo */

h1::first-letter,
h2::first-letter,
h3::first-letter {
  font-size: 150%;
  font-weight: 900;
  color: var(--black);
}

@media screen and (min-width: 900px) {
  header {
    rotate: -25deg;
    margin-left: 8vw;
    width: 75vw;
    font-size: 120%;
  }

  .nav {
    grid-area: 1 / 3 / 2 / 4;
  }
}
